.book-section {
	padding: 0 15px 15px;
	.title {
		> h2 {
			font-size: 16px;
			font-weight: 400;
			border-left: 2px solid #ed424b;
			height: 16px;
			line-height: 16px;
			text-indent: 10px;
			a {
				float: right;
				color: #ed424b;
				font-size: 14px;
			}
		}
	}
}