<section class="book-catalog">
	<div class="chapter-back">
		<span class="back"><a routerLink="/detail/{{returnId}}"><</a></span>
		<h3>{{book.title}}</h3>
	</div>
	<h4 *ngIf="!load" class="chapter-head">
		<span class="total">共{{book.chaptersCount}}章</span>
		<span class="sort">倒序</span>
	</h4>
	<div *ngIf="!load" class="chapter-list-section">
		<div class="chapter-bar">正文卷</div>
		<ul class="chapter-list">
			<li class="chapter-item" *ngFor="let item of bookItem">
				<a routerLink="/content/{{bookId}}/{{item.id}}">
					<p>
						{{item.title}}
						<span class="vip" *ngIf="item.isVip"><i class="iconfont icon-iconfontyouhuiquan"></i></span>
					</p>
				</a>
			</li>

		</ul>
	</div>
	<!-- 加载动画 -->
	<app-loading *ngIf="load"></app-loading>
</section>