<div class="app">
	<!-- <div class="content">
		<div [ngClass]="title == 1?'page active':'page'">
			<app-head [titleName]="'我的书架'" [types]="1"></app-head>
		</div>
		<div [ngClass]="title == 2?'page active':'page'">
			<app-head [titleName]="'RM'" [types]="2"></app-head>
		</div>
		<div [ngClass]="title == 3?'page active':'page'">
			<app-head [titleName]="'分类'" [types]="1"></app-head>
		</div>
		<div [ngClass]="title == 4?'page active':'page'">
			<app-head [titleName]="'排行榜'" [types]="2"></app-head>
		</div>
	</div> -->
	<!-- 路由出口 -->
	<router-outlet></router-outlet>
	<!-- 制作公共底部tabbar -->
	<div class="tabbar">
		<div [ngClass]="title == 1?'item active':'item'" (click)="tab(1)">
			<a routerLink="/book">
				<div><i class="iconfont icon-wxbzhuye"></i></div>
				<p>首页</p>
			</a>
		</div>
		<div [ngClass]="title == 2?'item active':'item'" (click)="tab(2)">
			<a routerLink="/best">
				<div><i class="iconfont icon-comments"></i></div>
				<p>精选</p>
			</a>
		</div>
		<div [ngClass]="title == 3?'item active':'item'" (click)="tab(3)">
			<a routerLink="/category">
				<div><i class="iconfont icon-iconfontxingxing"></i></div>
				<p>分类</p>
			</a>
		</div>
		<div [ngClass]="title == 4?'item active':'item'" (click)="tab(4)">
			<a routerLink="/rank">
				<div><i class="iconfont icon-good"></i></div>
				<p>排行</p>
			</a>
		</div>
	</div>
</div>
